:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  background: transparent;
  color: black;
}

canvas {
  display: block; /* Remove inline-block spacing */
}

a {
  color: #666;
  text-decoration: none;
}

video {
  display: block;
}

div.errror {
  color: red;
  white-space: pre-wrap;
}

#webcam video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}